{% extends 'bootstrap/base.html' %}

{% block navbar %}
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">     
      <div class="navbar-header">
        <a class="navbar-brand" href="#">{% block navbartitle %} {% endblock navbartitle %}</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
          {% block navbarleft %} {% endblock navbarleft %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% block navbarright %} {% endblock navbarright %}
        </ul>
      </div>      
    </div>
  </nav>
{% endblock navbar%}



{% block content %}
  <div class="container">
    {% block page_content %}
    {% endblock page_content %}
  </div>
{% endblock content %}
